#topbox{
    margin: 250px;
}

#mainbox1{
    margin: 0px auto;
    width: 550px;
    border: 800px;
    text-align: center;
    float: contour;
}
#mainbox2{
    margin: 0px auto;
    width: 550px;
    border: 800px;
    padding-left: 150px;
    text-align: center;
    float: contour;
    display: none;
}
.loginarea{
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    float: left;
    text-align: center;
}
#summitbutton{
    margin: 0 auto;
    padding: 28px;
}
#loginbox{
    margin: 0 auto;
    align-items: center;
}
#serviceerror{
    margin: auto;
    text-align: center;
    display: inline;
}
.errormessage{
    color: red;
}
#makers{
    margin-top: 300px;
    margin-bottom: 0;
    text-align: center;

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #f1f1f1;
    display:list-item;
  }
  
  li a {
    display: block;
    color: black;
    text-align: center;
    padding: 66px 40px 66px 40px;
    text-decoration: none;
  }
  
  li a:hover{
    background-color: #9963ff;
  }

  .active {
    text-align: center;
    display: inline-block;
    margin: 5px;
    padding: 10px 7px 10px 7px;
    background-color: #9963ff;
    color: white;
  }
  .two {
    display: inline-block;
    padding: 10px 108px 10px 108px;
    background-color: #9963ff;
    color: white;
  }

  .box123{
    background-color: rgb(211, 211, 219);  
    margin: 0px; 
    padding: 10px; 
    display:inline-table;
}
.box1234{
    background-color:  white;
    margin: 0px; 
    padding: 10px; 
    width: 300px;
}

.boxmain{
    background-color: white; 
    margin: 0px; 
    padding: 10px; 
    width: 450px;
    height: 80px;
    display:inline-table;
}
.mainspace{
    background-color: white; 
    margin: 0px; 
    padding: 10px; 
    width: 1450px;
    height: 550px;
    display:inline-table;
}
.inputspace{
    background-color: white; 
    margin: 0px; 
    padding: 10px; 
    width: 1450px;
    height: 90px;
    display:inline-table;
}